<div class="card">
  <div class="card-header">
    <h4>Search</h4>
  </div>
  <div class="card-body">
    <p class="card-text">Enter the Crypto symbol below</p>
  
	<%= form_with url: home_search_path, method: :get do |form| %>
		<div class = "mb-3">
		  <%= form.text_field :query, placeholder: "eg.) BTC, ETH", class: "form-control" %> <br />
		  <%= form.submit "Search", class: "btn btn-primary" %>
	  </div>
	<% end %>

<br />
 <%= @symbol%>

 <%= @coins %>


 <% for x in @search_coin['data'] %>
		<% if @symbol == x["symbol"] %>
			<p>
				<li>
					Rank: <%= x["name"] %> <br/>
					Name: <%= x["name"] %> <br/>
					Symbol: <%= x["symbol"] %> <br/>
					Price: $<%= x["quote"]['USD']['price'] %> <br/>
				</li>
			</p>
		<% end %>
<% end %>


</div>
</div>
